<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.csmallpassport.mapper.AdminRoleMapper">

    <sql id="ListQueryFields">
        <if test="true">
            id, name, description, sort
        </if>
    </sql>

    <resultMap id="ListResultMap" type="cn.tedu.csmallpassport.pojo.vo.AdminListVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="sort" property="sort"/>
    </resultMap>

    <!-- int insertBatch(List<AdminRole> adminRoleList); -->
    <insert id="insertBatch" keyColumn="id" keyProperty="id" parameterType="list" useGeneratedKeys="true">
        insert into ams_admin_role (admin_id, role_id) values
        <foreach collection="list" item="adminRole" separator=",">
            (#{adminRole.adminId},#{adminRole.roleId})
        </foreach>
    </insert>




    <delete id="deleteByAdminId">
        delete
        from ams_admin_role
        where admin_id = #{id}
    </delete>

    <select id="list" resultMap="ListResultMap">
        SELECT
        <include refid="ListQueryFields" />
        FROM
        ams_role
        ORDER BY
        sort DESC, id
    </select>

</mapper>